<header>
    <h1>Code samples for using Nexmo Verify API</h1>
    <h3>Learn how to to start the verification process by sending a verification code to a user, then validate the code the user supplies and perform other operations</h3>
</header>

<div style="width:50%; padding-top:10px">
    <div style="width:50%; padding-top:10px">
        <div class="content">
            <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
                <span style="vertical-align:central; text-align:center">Start verification process</span>
            </div>
            <div style="padding-top:10px">
                @using (Html.BeginForm("Start", "Verify", FormMethod.Post))
                {
                    <input type="text" name="to" id="to" placeholder="Phone number " style="height:30px"/>
                    <input type="submit" value="Verify" style="height:30px"/>
                }
            </div>
        </div>
    </div>
    <div style="width:50%; padding-top:10px">
        <div class="content">
            <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
                <span style="vertical-align:central; text-align:center">Check code</span>
            </div>
            <div style="padding-top:10px">
                @if (ViewBag.Message != null)
                {
                    <h2>@ViewBag.Message</h2>
                }
                else
                {
                    using (Html.BeginForm("Check", "Verify", FormMethod.Post))
                    {
                        <input type="text" name="code" id="code" placeholder="code" style="height:30px" />
                        <input type="submit" value="Check"  style="height:30px"/>
                    }
                }
            </div>
        </div>
    </div>
</div>
