<header>
    <h1>Code samples for creating your Nexmo applications </h1>
    <h3> Nexmo provides an Application API to allow management of your Nexmo Applications.</h3>
</header>

<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Create an application</span>
        </div>
        <div style="padding-top:10px">
            @using (Html.BeginForm("CreateApplication", "Application", FormMethod.Post))
            {
                <input type="text" name="name" id="name" placeholder="Application name" style="height:30px" />
                <input type="submit" value="Create application" style="height:30px;" />
            }
            <h2>@ViewBag.creationResult</h2>
        </div>
    </div>
</div>
<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Fetch an application</span>
        </div>
        <div style="padding-top:10px">
            @using (Html.BeginForm("GetApplication", "Application", FormMethod.Post))
            {
                <input type="text" name="id" id="id" placeholder="Your application Id" style="height:30px" />
                  <input type="submit" value="Get application" style="height:30px;" />
            }
            <h2>@ViewBag.getResult</h2>
        </div>
    </div>
</div>
<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Delete an application</span>
        </div>
        <div style="padding-top:10px">
            @using (Html.BeginForm("DeleteApplication", "Application", FormMethod.Post))
            {
                <input type="text" name="id" id="id" placeholder="Your application id" style="height:30px" />
                <input type="submit" value="Delete application" style="height:30px;" />
            }
            <h2>@ViewBag.deleteResult</h2>
        </div>
    </div>
</div>
<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">List all applications</span>
        </div>
        <div style="padding-top:10px">
            @using (Html.BeginForm("ListAvailableApplications", "Application", FormMethod.Post))
            {
                 <input type="submit" value="Get applications" style="height:30px;" />
            }

            @{

                for (int i = 0; i < ViewBag.count; i++)
                {
                    <div>
                        <h4>app Id:  @ViewBag.listResults[i].Id</h4>
                    </div>
                }
            }
        </div>
    </div>


