<header>
    <h1>Code samples for using Nexmo Numbers</h1>
    <h3>A Nexmo virtual number is a telephone number that is not directly 
    associated with a specific phone. It is programmable, enabling you to 
    create custom call and messaging experiences for your users.</h3>
</header>

<div style="padding-top:10px">
    <div style="width:50%; padding-top:10px">
        <div class="content">
            <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
                <span style="vertical-align:central; text-align:center">Search available numbers</span>
            </div>
            <div style="padding-top:10px">
                @using (Html.BeginForm("SearchAvailableNumbers", "Numbers", FormMethod.Post))
                {
                    <input type="text" name="type" id="type" placeholder="number type" style="height:30px" />
                    <input type="text" name="features" id="features" placeholder="Number features" style="height:30px" />
                    <input type="text" name="criteria" id="criteria" placeholder="search criteria" style="height:30px" />
                    <input type="text" name="pattern" id="pattern" placeholder="seach pattern" style="height:30px" />
                    <input type="text" name="country" id="country" placeholder="Country code " style="height:30px" />
                    <input type="text" name="number" id="number" placeholder="Phone number " style="height:30px" />
                    <input type="submit" value="Search numbers" style="height:30px" />
                }
            </div>
            @{

                for (int i = 0; i < ViewBag.count; i++)
                {
                    <div>
                        <h4>Tel: @ViewBag.listResults[i].msisdn   Cost: @ViewBag.listResults[i].cost </h4>
                    </div>
                }
            }
        </div>
    </div>
    <div style="width:50%; padding-top:10px">
        <div class="content">
            <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
                <span style="vertical-align:central; text-align:center">Buy a number</span>
            </div>
            <div style="padding-top:10px">
                @using (Html.BeginForm("BuyNumber", "Numbers", FormMethod.Post))
                {
                    <input type="text" name="country" id="country" placeholder="Country code " style="height:30px" />
                    <input type="text" name="number" id="number" placeholder="Phone number " style="height:30px" />
                    <input type="submit" value="Buy" style="height:30px" />
                }
            </div>
        </div>
    </div>
    <div style="width:50%; padding-top:10px">
        <div class="content">
            <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
                <span style="vertical-align:central; text-align:center">Update number</span>
            </div>
            <div style="padding-top:10px">
                @using (Html.BeginForm("UpdateNumber", "Numbers", FormMethod.Post))
                {
                    <input type="text" name="country" id="country" placeholder="Country code " style="height:30px" />
                    <input type="text" name="number" id="number" placeholder="Phone number " style="height:30px" />
                    <input type="text" name="voicecallbacktype" id="voicecallbacktype" value="Voice callback type: Tel " style="height:30px" />
                    <input type="submit" value="Update" style="height:30px" />
                }
            </div>
        </div>
    </div>
    <div style="width:50%; padding-top:10px">
        <div class="content">
            <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
                <span style="vertical-align:central; text-align:center">Cancel number</span>
            </div>
            <div style="padding-top:10px">
                @using (Html.BeginForm("CancelNumber", "Numbers", FormMethod.Post))
                {
                    <input type="text" name="country" id="country" placeholder="Country code " style="height:30px" />
                    <input type="text" name="number" id="number" placeholder="Phone number " style="height:30px" />
                    <input type="submit" value="Cancel" style="height:30px" />
                }
            </div>
        </div>
    </div>
    <div style="width:50%; padding-top:10px">
        <div class="content">
            <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
                <span style="vertical-align:central; text-align:center">List your own numbers</span>
            </div>
            <div style="padding-top:10px">
                @using (Html.BeginForm("ListOwnNumber", "Numbers", FormMethod.Post))
                {
                    <input type="text" name="criteria" id="criteria" placeholder="search criteria" style="height:30px" />
                    <input type="text" name="pattern" id="pattern" placeholder="seach pattern" style="height:30px" />
                    <input type="submit" value="List" style="height:30px" />
                }
            </div>
        </div>
    </div>
</div>

