{
  "iisSettings": {
    "windowsAuthentication": false,
    "anonymousAuthentication": true,
    "iisExpress": {
      "applicationUrl": "http://localhost:57282",
      "sslPort": 0
    }
  },
  "profiles": {
    "IIS Express": {
      "commandName": "IISExpress",
      "launchBrowser": true,
      "environmentVariables": {
        "VONAGE_API_SIGNATURE_SECRET": "VONAGE_API_SIGNATURE_SECRET",
        "VONAGE_NUMBER": "VONAGE_NUMBER",
        "TO_NUMBER": "TO_NUMBER",
        "YOUR_SECOND_NUMBER": "YOUR_SECOND_NUMBER",
        "ASPNETCORE_ENVIRONMENT": "Development"
      }
    },
    "DotNetWebhookCodeSnippets": {
      "commandName": "Project",
      "launchBrowser": true,
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development"
      },
      "applicationUrl": "https://localhost:5001;http://localhost:5000"
    }
  }
}