
@{
    ViewData["Title"] = "MakeTextToSpeechCall";
}

<h2>
    <form method="post" action="/Voice/MakeTextToSpeechCall">
    To:
    <input type="text" 
           id="to" name="to" placeholder="To" /> <br>
    <input type="submit" value="Call" /><br>
</form>
</h2>