/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 20px;
}

/* Non-grid specific CSS */
body {
    margin: 10px;
    color: #374046;
    background-color: #ededed;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.15em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.item {
    background-color: #ffffff;
}

.photothumb {
    width: 100%;
}

.title {
    padding: 20px;
}

    .title h3 {
        font-size: 1.2em;
        color: #ffffff;
        text-transform: uppercase;
    }

.project .title {
    background-color: #607D8B;
}

.blog .title {
    background-color: #ff9800;
}

.photo .title {
    background-color: #f44336;
}

.desc {
    padding: 10px 10px 5px 10px;
}

    .desc img {
        width: 50%;
        margin: 0 10px 10px 0;
        float: left;
    }

    .desc p {
        margin-bottom: 10px;
    }

a.fillthediv {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
