{
  "profiles": {
    "DotNetCliCodeSnippets": {
      "commandName": "Project",
      "commandLineArgs": "-s=Redact.RedactTransaction",
      "environmentVariables": {
        "SMS_CALLBACK_URL": "https://www.example.com/sms_callback",
        "VONAGE_API_KEY": "VONAGE_API_KEY",
        "CODE": "CODE",
        "VONAGE_APPLICATION_ID": "VONAGE_APPLICATION_ID",
        "DIGITS": "DIGITS",
        "API_KEY": "API_KEY",
        "VONAGE_PRIVATE_KEY_PATH": "VONAGE_PRIVATE_KEY_PATH",
        "VOICE_CALLBACK_VALUE": "VOICE_CALLBACK_VALUE",
        "VOICE_CALLBACK_TYPE": "VOICE_CALLBACK_TYPE",
        "VONAGE_API_SIGNATURE_SECRET": "VONAGE_API_SIGNATURE_SECRET",
        "VONAGE_NUMBER": "VONAGE_NUMBER",
        "VONAGE_API_SECRET": "VONAGE_API_SECRET",
        "VONAGE_NUMBER_FEATURES": "VONAGE_NUMBER_FEATURES",
        "TO_NUMBER": "TO_NUMBER",
        "TEXT": "TEXT",
        "VONAGE_REDACT_ID": "VONAGE_REDACT_ID",
        "REQUEST_ID": "REQUEST_ID",
        "INSIGHT_NUMBER": "INSIGHT_NUMBER",
        "VONAGE_BRAND_NAME": "VONAGE_BRAND_NAME",
        "UUID": "UUID",
        "NUMBER_SEARCH_PATTERN": "NUMBER_SEARCH_PATTERN",
        "NUMBER_SEARCH_CRITERIA": "NUMBER_SEARCH_CRITERIA",
        "RECIPIENT_NUMBER": "RECIPIENT_NUMBER",
        "NCCO_URL": "NCCO_URL",
        "VOICE_STATUS_URL": "VOICE_STATUS_URL",
        "BRAND_NAME": "BRAND_NAME",
        "VONAGE_NUMBER_TYPE": "VONAGE_NUMBER_TYPE",
        "COUNTRY_CODE": "COUNTRY_CODE",
        "RECORDING_URL": "RECORDING_URL",
        "URL": "URL",
        "FROM_NUMBER": "FROM_NUMBER",
        "VONAGE_REDACT_TYPE": "VONAGE_REDACT_TYPE",
        "VONAGE_REDACT_PRODUCT": "VONAGE_REDACT_PRODUCT",
        "VONAGE_SECRET_ID": "VONAGE_SECRET_ID",
        "NEW_SECRET": "NEW_SECRET",
        "ANSWER_URL": "ANSWER_URL",
        "APPLICATION_NAME": "APPLICATION_NAME",
        "PAYEE_NAME": "PAYEE_NAME",
        "MESSAGES_SANDBOX_WHATSAPP_NUMBER": "MESSAGES_SANDBOX_WHATSAPP_NUMBER",
        "MESSAGES_SANDBOX_ALLOW_LISTED_TO_NUMBER": MESSAGES_SANDBOX_ALLOW_LISTED_TO_NUMBER",
        "MESSAGES_SANDBOX_FB_ID": "MESSAGES_SANDBOX_FB_ID",
        "MESSAGES_SANDBOX_ALLOW_LISTED_FB_RECIPIENT_ID": "MESSAGES_SANDBOX_ALLOW_LISTED_FB_RECIPIENT_ID",
        "MESSAGES_SANDBOX_VIBER_SERVICE_ID": "MESSAGES_SANDBOX_VIBER_SERVICE_ID"
      }
    }
  }
}