<header>
    <h1>Code samples for using Nexmo Redact</h1>    
</header>

<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Create an application</span>
        </div>
        <div style="padding-top:10px">
            @using (Html.BeginForm("RedactWithId", "Redact", FormMethod.Post))
            {
                <input type="text" name="id" id="id" placeholder="id" style="height:30px" />
                @Html.DropDownList("product", new SelectList(Enum.GetValues(typeof(RedactModel.RedactProduct))), "Select Product", new { @class = "form-control", @style = "height:30px" })
                @Html.DropDownList("type", new SelectList(Enum.GetValues(typeof(RedactModel.RedactType))), "Select Type (sms only)", new { @class = "form-control", @style = "height:30px" })                
                <input type="submit" value="redact" style="height:30px;" />
            }
            <h2>@ViewBag.redactResult</h2>
        </div>
    </div>
</div>